<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CobaltApplication"
        android:label="Cobalt"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:hasCode="true">

        <service
            android:name=".CobaltRendererService"
            android:exported="false"
            android:enabled="true" />

    </application>

</manifest>
